html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 969px) {
  html {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "notosansCJK", "yugothic-light", Helvetica, Arial, "Noto Sans", sans-serif;
  font-size: 1.5rem;
  color: #282828;
}

img {
  max-width: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

a,
button {
  text-decoration: none;
  color: #0066C5;
}
a:hover,
button:hover {
  opacity: 0.7;
  text-decoration: none;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: relative;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 9999;
}
.header .container {
  max-width: 144rem;
}
@media screen and (max-width: 968px) {
  .header .container {
    padding: 0 1rem;
  }
}
.header .d__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__login .header__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
@media screen and (max-width: 968px) {
  .header__login .header__navigation {
    display: none;
  }
}
.header__login .header__navigation__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}
.header__login .link__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #282828;
  font-size: 1.6rem;
  line-height: 1.2;
}
.header__login .account {
  margin-left: 3rem;
  position: relative;
}
@media screen and (max-width: 968px) {
  .header__login .account {
    margin-left: 0;
  }
}
.header__login .account__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 1.2;
  cursor: pointer;
}
.header__login .account__logout {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 1.5rem 2rem;
  color: #222222;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 0;
}
.header__login .account__drop {
  display: none;
}
.header__btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 0;
}
.header__btn .btn {
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .header__btn .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
.header__btn .btn-white {
  background-color: #ffffff;
  color: #717DA0;
  border: 1px solid #405080;
  margin-left: 1rem;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-white {
    margin-left: 0.5rem;
  }
}
.header__btn .btn-blue {
  background-color: #405080;
  color: #ffffff;
  border: none;
  margin-left: 1rem;
  border: 1px solid transparent;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-blue {
    margin-left: 0.5rem;
  }
}
.header__btn .btn-purple {
  background-color: #e4e7f0;
  border: 1px solid #e4e7f0;
  color: #405080;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-purple {
    margin-left: 1rem;
  }
}
.header .icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 2.1rem;
  height: 1.7rem;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25rem;
  color: #000;
  margin-right: 0.5rem;
}
.header .link__logo {
  display: inline-block;
}
.header .header__logo {
  display: flex;
  line-height: 0;
}
.header .header__logo .img {
  width: 23rem;
}

.footer__top {
  padding: 4rem 0 5rem;
  background-color: #f3f3f3;
}
@media screen and (max-width: 968px) {
  .footer__top {
    padding: 2.5rem 0 3rem;
  }
}
.footer__logo {
  width: 23rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.footer__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
}
@media screen and (max-width: 968px) {
  .footer__list-items {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
  }
}
.footer__list-items a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  color: #282828;
}
@media screen and (max-width: 968px) {
  .footer__list-items a {
    padding: 0;
  }
}
.footer .footer__bot {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: "shinGoPro";
  color: #f3f3f3;
  background-color: #393838;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .footer .footer__bot {
    padding: 1rem 0;
  }
}

.page {
  position: relative;
}

.main {
  padding: 3.5rem 0;
}
@media screen and (min-width: 969px) {
  .main {
    padding: 5.5rem 0 3.5rem 0;
  }
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-35 {
  width: 3.5rem;
}

.w-31 {
  width: 3.1rem;
}

.w-26 {
  width: 2.6rem;
}

.w-20 {
  width: 20rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

@media screen and (min-width: 969px) {
  .mt-lg-1 {
    margin-top: 1rem;
  }
  .mt-lg-2 {
    margin-top: 2rem;
  }
  .mt-lg-3 {
    margin-top: 3rem;
  }
  .mt-lg-4 {
    margin-top: 4rem;
  }
  .mb-lg-1 {
    margin-bottom: 1rem;
  }
  .mb-lg-2 {
    margin-bottom: 2rem;
  }
  .mb-lg-3 {
    margin-bottom: 3rem;
  }
  .mb-lg-5 {
    margin-bottom: 5rem;
  }
  .mb-lg-7 {
    margin-bottom: 7rem;
  }
}
.px-2 {
  padding: 0 2rem;
}

.pt-5 {
  padding-top: 5rem;
}

.font-bold {
  font-weight: 700;
}

.cl-pink {
  color: #d02e8c;
}

.cl-pinkL1 {
  color: #f6d5e8;
}

.cl-blue {
  color: #0054a7;
}

.cl-blueL {
  color: #ccdded;
}

.bg-pink {
  background-color: #d02e8c;
}

@font-face {
  font-family: "notosansCJK";
  src: url("../font/Noto-Sans-Mono-CJK-JP-Regular.otf");
}
@font-face {
  font-family: "folkPro";
  src: url("../font/A-OTF-FolkPro-Regular.otf");
}
@font-face {
  font-family: "antro-ectra-bolder";
  src: url("../font/antro-vectra-bolder.otf");
}
@font-face {
  font-family: "marupro-regular";
  src: url("../font/A-OTF-MaruFoPro-Regular.otf");
}
@font-face {
  font-family: "mmascript";
  src: url("../font/Emmascript-MVB-Std-Regular.otf");
}
@font-face {
  font-family: "shinGoPro";
  src: url("../font/A-OTF-ShinGoPro-Light.otf");
}
@font-face {
  font-family: "arial";
  src: url("../font/Arialn.ttf");
}
@font-face {
  font-family: "yugothic-medium";
  src: url("../font/yugothic-medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "yugothic-light";
  src: url("../font/Yu-Gothic-Light.ttf");
  font-weight: 400;
}
.thumb {
  line-height: 0;
}

.usage .container {
  max-width: 146rem;
}

.list__post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -1rem;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .list__post {
    margin-bottom: 0;
  }
}

.items-top {
  width: calc(20% - 1.6rem);
  margin: 0 0.8rem;
}
.items-top:hover {
  opacity: 0.75;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .items-top {
    width: calc(33.3333333333% - 2rem);
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-top {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.items-creator {
  width: calc(25% - 2rem);
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}
.items-creator:hover {
  opacity: 0.75;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .items-creator {
    width: calc(33.3333333333% - 2rem);
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-creator {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.items-cat {
  width: calc(33.3333333333% - 2rem);
  margin: 0 1rem;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .items-cat {
    width: calc(50% - 2rem);
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-cat {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.filter__category {
  background-color: #f3f3f3;
  padding: 5.5rem 0;
  margin-bottom: 6.5rem;
}
@media screen and (max-width: 968px) {
  .filter__category {
    margin-bottom: 3rem;
  }
}
.filter__category .form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  overflow: hidden;
}
@media screen and (max-width: 968px) {
  .filter__category .form {
    gap: 1.5rem;
  }
}
.filter__category .select {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 968px) {
  .filter__category .select {
    width: 100%;
    gap: 0.5rem;
  }
}
.filter__category .row-form .select-form {
  width: 28rem;
  height: 7rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #282828;
  border: 1px solid #8a8a8a;
  border-radius: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 2;
  background-color: transparent;
}
@media screen and (max-width: 968px) {
  .filter__category .row-form .select-form {
    max-width: 13.2rem;
    font-size: 1.4rem;
    padding: 0.4rem 1.75rem;
    height: unset;
  }
}
@media only screen and (min-width: 969px) and (max-width: 1170px) {
  .filter__category .row-form .select-form {
    max-width: 21rem;
  }
}
.filter__category .input-form {
  background-color: #ffffff !important;
}
.filter__category .arrow-down {
  position: relative;
  background-color: #ffffff;
}
.filter__category .arrow-down::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 1rem 0 1rem;
  border-color: #282828 transparent transparent transparent;
  position: absolute;
  top: 45%;
  transform: translateX(-45%);
  right: 1rem;
  z-index: 1;
}
@media only screen and (min-width: 969px) and (max-width: 1170px) {
  .filter__category .arrow-down::before {
    border-width: 0.8rem;
    right: 0.5rem;
  }
}
.filter__category .gr__btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  gap: 1.6rem;
}
@media screen and (max-width: 968px) {
  .filter__category .gr__btn {
    width: 100%;
  }
}
.filter__category .gr__btn .cpn__gr--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 11rem;
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 2.5;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .filter__category .gr__btn .cpn__gr--btn {
    font-size: 1.4rem;
    padding: 0.4rem 1.75rem;
    height: unset;
  }
}
.filter__category .gr__btn--search {
  color: #ffffff;
  background-color: #d02e8c;
  letter-spacing: 0.5rem;
}
.filter__category .gr__btn--reset {
  color: #606060;
  background-color: #d2d2d2;
}

.sub-title {
  font-size: 2.8rem;
  line-height: 1.25;
  color: #282828;
  padding-left: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.sub-title::after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #d02e8c;
  position: absolute;
  top: 0;
  left: 0;
}

.ps-relative {
  position: relative;
}

.ps-absolute {
  position: absolute;
}

.translate-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(178, 178, 178, 0.65);
  width: 100%;
  height: 100%;
  transition: ease-in-out 1s;
  z-index: 99999;
}

.form__modal {
  padding: 0 0 2rem 0;
}

.modal_close {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.modal__content {
  width: 42.8rem;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
  z-index: 999999;
  top: -100%;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  .modal__content {
    width: 35rem;
  }
}

.modal__infor {
  padding-top: 2.5rem;
}
.modal__infor .text__top {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #222222;
  font-weight: 700;
}
@media screen and (max-width: 968px) {
  .modal__infor .text__top {
    font-size: 1.25rem;
  }
}
.modal__infor .text__bot {
  text-align: center;
}
.modal__infor .text__bot a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #405080;
}
.modal__infor .text__bot a:hover {
  border-bottom: 1px solid #b2b2b2;
}
.modal__infor .btn__submit {
  padding: 1.5rem 0.5rem;
  background-color: rgb(178, 178, 178);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
}
.modal__infor input {
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  border-bottom: 1px solid #b2b2b2;
}

.block {
  display: block;
}

.show {
  top: 30rem;
  transition: ease-in-out 1s;
}
@media screen and (max-width: 968px) {
  .show {
    top: 15rem;
  }
}

.active_drop {
  display: block !important;
}

.active-video {
  z-index: 99 !important;
}

.h-pc {
  display: block;
}
@media screen and (min-width: 969px) {
  .h-pc {
    display: none;
  }
}

.h-sp {
  display: none;
}
@media screen and (min-width: 969px) {
  .h-sp {
    display: block;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.video {
  position: relative;
  display: flex;
  align-items: stretch;
}

.video_play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pagination {
  text-align: center;
}
.pagination .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .tab__pagination {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #d02e8c;
}
.pagination .tab__pagination.arrow-prev {
  border: 1px solid #999999;
  background-color: rgba(153, 153, 153, 0.1);
}
.pagination .tab__pagination.arrow-prev .page__link {
  color: #999999;
}
.pagination .tab__pagination.arrow-next {
  border: 1px solid #d02e8c;
  background-color: #ffffff;
}
.pagination .page__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.7rem;
  height: 4.7rem;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #d02e8c;
}
.pagination .page__link.active {
  color: #ffffff;
  background-color: #d02e8c;
}
@media screen and (max-width: 968px) {
  .pagination .page__link.active {
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 968px) {
  .pagination .page__link {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}
.pagination .css-vubbuv {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.6rem;
}

.p_top .title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
  margin-bottom: 8.5rem;
  padding: 3rem 0;
  position: relative;
}
.p_top .title::before, .p_top .title::after {
  content: "";
  width: 58%;
  height: 1px;
  background-image: url(../images/line.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.p_top .title::before {
  top: 0;
  left: 0;
}
.p_top .title::after {
  bottom: 0;
  right: 0;
}
.p_top .title .icon__title {
  position: relative;
  display: inline-block;
  line-height: 0;
}
.p_top .title .span__title {
  font-size: 3.5rem;
  line-height: 1.1428571429;
  letter-spacing: 0.5rem;
  font-family: "folkPro";
  background: -webkit-linear-gradient(left, #0069b5 30%, #d4338d 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 968px) {
  .p_top .title .span__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.p_top .list__model .thumb {
  height: 100%;
}
.p_top .list__model .thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p_top .items-top {
  margin-bottom: 2rem;
}
.p_top .items-top .thumb {
  height: 27.5rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .p_top .items-top .thumb {
    height: 20rem;
  }
}
.p_top .items-top .thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.p_top .items-top .ttl-thumb {
  font-size: 3rem;
  line-height: 1.7;
  font-family: "notosansCJK";
  font-weight: 500;
  color: #d02e8c;
  text-align: center;
  margin-top: 1.7rem;
}
@media screen and (max-width: 968px) {
  .p_top .items-top .ttl-thumb {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
}
.p_top .items-top .des-thumb {
  font-size: 1.6rem;
  line-height: 2.5;
  font-family: "notosansCJK";
  color: #282828;
  margin-top: 2rem;
}
@media screen and (max-width: 968px) {
  .p_top .items-top .des-thumb {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}
.p_top .items-cat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 10.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 968px) {
  .p_top .items-cat {
    height: 5rem;
  }
}
.p_top .items-cat .thumb {
  width: 40%;
  height: 100%;
}
.p_top .items-cat .thumb .img {
  border-radius: 0.5rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p_top .items-cat .ttl__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.8rem;
  line-height: 2.3888888889;
  color: #282828;
}
@media screen and (max-width: 968px) {
  .p_top .items-cat .ttl__item {
    font-size: 1.5rem;
  }
}
.p_top .model__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.p_top .model__wrap .post {
  width: calc(50% - 4rem);
}
.p_top .model__wrap .list__model {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 6.5rem 0;
}
.p_top .model__wrap .list__model .items-model {
  width: 50%;
  height: 27.5rem;
  margin: 0;
}

.main {
  position: relative;
  z-index: 99;
  padding: 0 0 3.5rem;
}
@media screen and (min-width: 969px) {
  .main {
    padding: 0 0 5.5rem;
  }
}
.main .usage .row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3rem;
}
.main .usage .cpn__text {
  font-size: 1.4rem;
  line-height: 2.8571428571;
  color: #ffffff;
}
.main .category .ttl__child--cate {
  position: relative;
}
.main .category .model {
  font-size: 7rem;
  font-family: "antro-ectra-bolder";
  position: absolute;
  top: -6rem;
  left: -6rem;
  z-index: -1;
  transform: rotate(-10deg);
}
.main .category .child-category {
  font-size: 2.8rem;
  line-height: 1.7083333333;
  font-family: "marupro-regular";
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .child-category {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}
.main .category .post {
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .post {
    margin-bottom: 2rem;
  }
}
.main .category .post .ttl__img {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .main .category .post .ttl__img {
    font-size: 2rem;
    bottom: 2rem;
  }
}
.main .category .post .list__child-item a {
  display: inline-block;
  font-size: 1.5rem;
  color: #666666;
}
@media screen and (max-width: 968px) {
  .main .category .post .list__child-item a {
    font-size: 1.35rem;
  }
}
.main .category .txt-thumb {
  text-align: center;
  z-index: 2;
}
.main .category .txt-english {
  font-size: 2.5rem;
  line-height: 1.6;
  font-family: "mmascript";
  color: #d02e8c;
}
.main .category .txt-jp {
  font-size: 2.8rem;
  line-height: 1.4285714286;
  color: #ffffff;
  font-weight: bold;
}
.main .category .cpn__btn--top {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  font-family: "notosansCJK";
  line-height: 1.2;
  text-align: center;
  padding: 2.3rem 1rem;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .main .category .cpn__btn--top {
    font-size: 1.2rem;
    padding: 0.55rem 0.65rem;
  }
}
.main .category .group__btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15rem;
}
@media screen and (max-width: 968px) {
  .main .category .group__btn {
    margin-bottom: 5rem;
  }
}
.main .category .btn__bg--pink {
  max-width: 32rem;
  background-color: #d02e8c;
  box-shadow: 0.5rem 1rem 0.5rem -0.5rem #7f1c56;
}
.main .category .btn__bg--blue {
  max-width: 32rem;
  background-color: #0054a7;
  box-shadow: 0.5rem 1rem 0.5rem -0.5rem #0054a7;
}

.page__archive .main {
  padding: 2rem 0;
}
@media screen and (min-width: 969px) {
  .page__archive .main {
    padding: 0rem 0 10rem;
  }
}

.p__ichiran--cre .ttl {
  margin-bottom: 5rem;
}
.p__ichiran--cre .ttl .span-ttl {
  font-size: 3.5rem;
  line-height: 1.1428571429;
  letter-spacing: 0.5rem;
  font-family: "folkPro";
  background: -webkit-linear-gradient(left, #0069b5 30%, #d4338d 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 968px) {
  .p__ichiran--cre .ttl .span-ttl {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.p__ichiran--cre .post .thumb {
  height: 27rem;
}
.p__ichiran--cre .post .thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p__ichiran--cre .post .txt-cate, .p__ichiran--cre .post .age, .p__ichiran--cre .post .desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1.4rem;
  line-height: 2.5;
  font-weight: 500;
  color: #282828;
}
.p__ichiran--cre .post .txt-cate, .p__ichiran--cre .post .age {
  border-bottom: 1px dashed #a8a8a8;
}

.p__taro .items-creator {
  margin-bottom: 2rem !important;
}
.p__taro .items-creator:hover {
  opacity: 1;
}
.p__taro .thumb {
  margin-bottom: 0 !important;
}

.archive__category .title {
  font-size: 3rem;
  font-family: "yugothic-medium";
  font-weight: 500;
  line-height: 1.7;
  color: #6F706F;
}
@media screen and (max-width: 968px) {
  .archive__category .title {
    font-size: 2.4rem;
  }
}
.archive__category .tab {
  margin-bottom: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.archive__category .tab__category {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 968px) {
  .archive__category .tab__category {
    margin: 0 -0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .tab__category {
    margin: 0 -0.5rem;
  }
}
.archive__category .tab__category .items {
  max-width: 14rem;
  width: 100%;
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .tab__category .items {
    width: auto;
  }
}
@media screen and (max-width: 968px) {
  .archive__category .tab__category .items {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
}
.archive__category .tab__category .items a {
  display: inline-block;
  padding: 0.75rem 1rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  line-height: 1.7;
  font-family: "yugothic-medium";
  color: #d02e8c;
  background-color: #ffffff;
  border: 0.15rem solid #dd66ab;
  border-radius: 2.5rem;
}
.archive__category .tab__category .items a.active {
  color: #ffffff;
  background-color: #d02e8c;
}
@media screen and (max-width: 968px) {
  .archive__category .tab__category .items a {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .tab__category .items a {
    width: 100%;
    margin-right: 0;
    padding: 0.5rem;
    text-align: center;
  }
}
.archive__category .list__post {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
@media screen and (max-width: 968px) {
  .archive__category .list__post {
    margin: 0;
  }
}
.archive__category .list__post .items-top {
  width: calc(25% - 1rem);
  margin: 0 0.5rem 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .list__post .items-top {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .list__post .items-top {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
.archive__category .list__post .items-creator {
  width: calc(20% - 3.2rem);
  margin: 0 1.6rem 4rem;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .list__post .items-creator {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .list__post .items-creator {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
.archive__category .thumb {
  margin-bottom: 2rem;
}
.archive__category .thumb img {
  border-radius: 0.5rem;
}
.archive__category .text__des {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.archive__category .tab__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.archive__category .tab__content .btn--radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-right: 4rem;
  cursor: pointer;
}
.archive__category .tab__content .label {
  font-size: 1.4rem;
  color: #121212;
  font-family: "yugothic-medium";
  font-weight: 600;
}
.archive__category .cate-items {
  display: none;
}
.archive__category .dis-flex {
  display: flex;
}

@media screen and (min-width: 969px) {
  .page__archive--deatail .main {
    padding: 5.5rem 0 6.5rem 0;
  }
}
.page__archive--deatail .infor__video {
  width: 100%;
  margin-bottom: 5rem;
}
.page__archive--deatail .infor__video .row {
  width: 84rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .infor__video .row {
    width: 100%;
    gap: 4rem;
    justify-content: center;
  }
}
.page__archive--deatail .infor__video .l__video {
  width: 25rem;
  line-height: 0;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .infor__video .l__video {
    width: 30rem;
    text-align: center;
  }
}
.page__archive--deatail .infor__video .l__video video {
  width: 100%;
}
.page__archive--deatail .infor__video .detail {
  flex: 1;
}
.page__archive--deatail .infor__video .detail--text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .infor__video .detail--text {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .page__archive--deatail .infor__video .detail--text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}
.page__archive--deatail .infor__video .detail--text .field {
  width: 16rem;
}
@media screen and (max-width: 767px) {
  .page__archive--deatail .infor__video .detail--text .field {
    width: 100%;
  }
}
.page__archive--deatail .infor__video .detail--text .content {
  width: calc(100% - 16rem);
}
@media screen and (max-width: 767px) {
  .page__archive--deatail .infor__video .detail--text .content {
    width: 100%;
  }
}
.page__archive--deatail .infor__video .detail--btn {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3.5rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .infor__video .detail--btn {
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
  }
}
.page__archive--deatail .orthes__video .title {
  font-size: 2.4rem;
  line-height: 1.7083333333;
  font-family: "yugothic-medium";
  color: #6F706F;
  margin-bottom: 4rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .orthes__video .title {
    margin-bottom: 2.5rem;
  }
}
.page__archive--deatail .orthes__video .video--list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .orthes__video .video--list {
    margin-bottom: 3rem;
  }
}
.page__archive--deatail .orthes__video .video--items {
  width: calc(20% - 1.6rem);
  margin: 0 0.8rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .orthes__video .video--items {
    width: calc(33.3333333333% - 1.6rem);
  }
}
@media screen and (max-width: 767px) {
  .page__archive--deatail .orthes__video .video--items {
    width: calc(50% - 1.6rem);
  }
}
.page__archive--deatail .orthes__video .video--items .video {
  width: 100%;
}
.page__archive--deatail .orthes__video .video--items video {
  width: 100%;
}
.page__archive--deatail .orthes__video .others--btn {
  text-align: center;
}
.page__archive--deatail .cpn__detail--text {
  font-size: 1.6rem;
  line-height: 1.6875;
  color: #6F706F;
  font-family: "yugothic-medium";
}
.page__archive--deatail .cpn__btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6875;
  color: #6F706F;
  font-family: "yugothic-medium";
  border-radius: 0.8rem;
  border: 1px solid #707070;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .cpn__btn {
    font-size: 1.4rem;
  }
}
.page__archive--deatail .btn--favorites {
  width: 14.2rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .btn--favorites {
    width: 100%;
  }
}
.page__archive--deatail .btn--procedure {
  width: 28.1rem;
}
@media screen and (max-width: 968px) {
  .page__archive--deatail .btn--procedure {
    width: 100%;
  }
}
.page__archive--deatail .btn--readmore {
  width: 28.1rem;
}

.page__form .main {
  padding: 7.5rem 0 10.5rem 0;
}
@media screen and (max-width: 968px) {
  .page__form .main {
    padding: 5.5rem 0 7.5rem 0;
  }
}
.page__form .form .container {
  max-width: 71.2rem;
}
.page__form .form-ttl {
  text-align: center;
  font-size: 3rem;
  line-height: 1.3333333333;
  font-weight: bold;
  color: #282828;
  margin-bottom: 3rem;
}
.page__form .form-description {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #282828;
  text-align: center;
}
.page__form .form__input {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (max-width: 968px) {
  .page__form .form__input {
    gap: 2.5rem;
  }
}
.page__form .form .c-full {
  width: 100%;
}
.page__form .form .row-txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.page__form .form .row-radio {
  padding-left: 2rem;
}
.page__form .form .gr-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
.page__form .form .label {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #282828;
  font-weight: 500;
}
.page__form .form .requied {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fefefe;
  background-color: #d02e8c;
}
.page__form .form .input {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 1.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #CCCCCC;
}
.page__form .form .input:focus {
  background-color: #E8F0FE;
}
.page__form .form .input__checkbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page__form .form .input__checkbox .label--checkbox {
  margin-left: 1rem;
}
@media screen and (max-width: 968px) {
  .page__form .form .input__checkbox .label--checkbox {
    font-size: 1.2rem;
  }
}
.page__form .form .input.error {
  border: 1px solid #A70000;
}
.page__form .form .des__input {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #666666;
}
.page__form .form .input-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__form .form .input-radio .type-radio {
  accent-color: #c72c86;
}
.page__form .form .input__number {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.page__form .form .type-radio {
  width: 1.5rem;
  height: 1.5rem;
}
.page__form .form .form__checkbox {
  margin: 4rem 0;
}
@media screen and (max-width: 968px) {
  .page__form .form .form__checkbox {
    margin: 2rem 0;
  }
}
.page__form .form .input__password {
  position: relative;
}
.page__form .form .input__password .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 1rem;
  right: 1rem;
  height: 4rem;
  cursor: pointer;
}
.page__form .form .input__password .icon-show,
.page__form .form .input__password .icon-hidden {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 2.4rem;
  height: 2.4rem;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.4rem;
  color: #B2B2B2;
}
.page__form .form .input__password .icon-show {
  display: none;
}
.page__form .form .btn {
  text-align: center;
}
.page__form .form .btn__submit {
  max-width: 19rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #ffffff;
  background-color: #999999;
  padding: 2.5rem 2.8rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .page__form .form .btn__submit {
    max-width: 15rem;
    padding: 1.5rem 1rem;
  }
}
.page__form .form .cs-link {
  font-size: 1.6rem;
  line-height: 2.5;
  color: #1076bd;
}
@media screen and (max-width: 968px) {
  .page__form .form .cs-link {
    font-size: 1.2rem;
    line-height: 2.5;
  }
}
.page__form .form .error {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #A70000;
}

.p__register-confirm .infor-confirm {
  margin-bottom: 6rem;
}
@media screen and (max-width: 968px) {
  .p__register-confirm .infor-confirm {
    margin-bottom: 3rem;
  }
}
.p__register-confirm .infor-confirm .container {
  max-width: 67rem;
}
.p__register-confirm .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.p__register-confirm .field {
  width: 20.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2222222222;
  color: #282828;
}
@media screen and (max-width: 968px) {
  .p__register-confirm .field {
    width: 15rem;
  }
}
.p__register-confirm .content {
  flex: 1;
}
.p__register-confirm .input-txt {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.8rem;
  font-family: "notosansCJK";
  font-weight: 500;
  line-height: 2.2222222222;
  color: #282828;
  background-color: #ffffff;
  text-align: left;
}
.p__register-confirm .group__btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.p__register-confirm .group__btn .cpn__gr--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 19rem;
  width: 100%;
  height: 7rem;
  font-size: 1.8rem;
  line-height: 2.2222222222;
  font-weight: 500;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .p__register-confirm .group__btn .cpn__gr--btn {
    font-size: 1.4rem;
    padding: 0.4rem 1.75rem;
    height: unset;
  }
}
.p__register-confirm .group__btn--fix {
  color: #d6479a;
  border: 2px solid #e690c2;
  background-color: transparent;
}
.p__register-confirm .group__btn--send {
  color: #ffffff;
  border: 2px solid transparent;
  background-color: #d02e8c;
}

.p__register-confirmed .infor-confirmed .container {
  max-width: 67rem;
}
.p__register-confirmed .infor-txt {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.875;
  color: #070002;
  margin-bottom: 3.5rem;
}
.p__register-confirmed .mail-confirmed {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2222222222;
  padding: 1.5rem 1rem;
  color: #282828;
  margin-bottom: 3.5rem;
  text-align: center;
  background-color: #f3f3f3;
}
.p__register-confirmed .link {
  color: #1076bd;
}

.p__register-login .form-description {
  font-size: 1.6rem;
  line-height: 1.875;
}
.p__register-login .form-infor .container {
  max-width: 55.5rem;
}
.p__register-login .form-infor .row-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.p__register-login .form-infor .input-login {
  max-width: 33rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #282828;
  padding: 2.1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #e5f2fb;
  border: transparent;
  border-right: 1px solid #b0bac1;
  border-bottom: 1px solid #b0bac1;
}
.p__register-login .form-infor .btn__submit-login {
  max-width: 33rem;
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.2222222222;
  color: #ffffff;
  background-color: #a8a8a8;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.p__register-login .form-infor .txt {
  font-size: 1.2rem;
  line-height: 3.3333333333;
  color: #4b98cd;
}

.form__expired {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__expired {
    background-color: transparent;
  }
}
.form__expired .content {
  width: 40rem;
  height: 54rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__expired .content {
    padding: 0 2rem;
  }
}
.form__expired .img-error {
  width: 8.8rem;
  margin-bottom: 2.4rem;
}
.form__expired .ttl {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 968px) {
  .form__expired .ttl {
    font-size: 2rem;
  }
}
.form__expired .desc {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .form__expired .desc {
    font-size: 1.2rem;
  }
}

.form__resetpass {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass {
    background-color: transparent;
  }
}
.form__resetpass .content {
  width: 40rem;
  height: 54rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass .content {
    height: 100vh;
    padding: 0 2rem;
  }
}
.form__resetpass .info {
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info {
    margin-bottom: 1rem;
  }
}
.form__resetpass .info .img {
  width: 16.2rem;
  margin: 0 auto;
}
.form__resetpass .info .ttl {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
  margin: 2.4rem 0 1.6rem;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info .ttl {
    font-size: 2rem;
  }
}
.form__resetpass .info .desc {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info .desc {
    font-size: 1.2rem;
  }
}
.form__resetpass .form {
  width: 100%;
}
.form__resetpass .form__reset .row-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 5.2rem;
  position: relative;
}
@media screen and (max-width: 968px) {
  .form__resetpass .form__reset .row-form {
    height: unset;
  }
}
.form__resetpass .form__reset--input {
  font-size: 1.6rem;
  padding: 1.6rem 3.5rem 1.6rem 1.2rem;
  border: 1px solid #b2b2b2;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 968px) {
  .form__resetpass .form__reset--input {
    font-size: 1.35rem;
  }
}
.form__resetpass .form__reset .btn__submit {
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  background-color: #0059d6;
  color: #ffffff;
  cursor: pointer;
}
.form__resetpass .form .icon {
  width: 3.6rem;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.form__resetpass .form .icon-hidden {
  display: none;
}

/* Tabs */
.p__my--page .main {
  min-height: calc(100vh - 34rem);
  padding: 3.5rem 0;
}
@media screen and (min-width: 969px) {
  .p__my--page .main {
    padding: 7.5rem 0;
  }
}
.p__my--page .tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7rem;
  background-color: #ffffff;
  width: 100%;
}
.p__my--page .list__tab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 32rem;
  list-style: none;
  margin: 0;
}
.p__my--page .tab-wrap {
  flex: 1;
}
.p__my--page .tab-content {
  padding: 1.5rem 1rem;
}
.p__my--page .tab--items {
  width: 100%;
  padding: 2.5rem 2rem 2.5rem 0;
  border-bottom: 1px solid #3D3A39;
  cursor: pointer;
}
.p__my--page .tab--items.active .link-tab {
  font-weight: 700;
}
.p__my--page .tab--items:last-child {
  border-bottom: 0;
}
.p__my--page .link-tab {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "arial";
  font-weight: 400;
  color: #282828;
  text-decoration: none;
}
.p__my--page .member-infor .content-txt .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5rem;
}
.p__my--page .member-infor .content-txt .c-left {
  width: 21rem;
}
.p__my--page .member-infor .content-txt .c-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p__my--page .member-infor .content-txt .field {
  font-family: "arial";
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  color: #3D3A39;
}
.p__my--page .member-infor .content-txt .name {
  font-family: "arial";
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  border: none;
  color: #3D3A39;
  width: 100%;
}
.p__my--page .member-infor .content-txt .edit {
  width: 9.4rem;
  text-align: center;
  font-family: "arial";
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid #3D3A39;
  cursor: pointer;
}
.p__my--page .down-videos .cate-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% + 4rem);
  margin: 0 -2rem;
}
.p__my--page .down-videos .cate-items {
  width: calc(50% - 4rem);
  margin: 0 2rem;
  text-align: center;
}
.p__my--page .down-videos .title-cate {
  font-size: 2rem;
  line-height: 1.2;
  font-family: "arial";
  font-weight: 400;
  color: #282828;
}
.p__my--page .favorites-creator .row {
  margin-bottom: 5rem;
}
.p__my--page .favorites-creator .ttl-cate {
  font-size: 2rem;
  line-height: 1.2;
  font-family: "arial";
  font-weight: 400;
  color: #282828;
  margin-bottom: 1.5rem;
}
.p__my--page .favorites-creator .wrap-cate {
  width: calc(100% + 4rem);
  margin: 0 -2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.p__my--page .favorites-creator .list-cate {
  width: calc(33.3333333333% - 4rem);
  margin: 0 2rem;
}
.p__my--page .purchase-history .content-txt {
  padding-left: 7.5rem;
}
.p__my--page .purchase-history .field {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 11.5rem;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid #F2F2F2;
}
.p__my--page .purchase-history .ttl-field {
  font-family: "arial";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
  width: 10.5rem;
}
.p__my--page .purchase-history .information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 0;
  border-bottom: 1px solid #F2F2F2;
}
.p__my--page .purchase-history .txt {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "arial";
  font-weight: 400;
  color: #595959;
  max-width: 17rem;
  width: 100%;
}
.p__my--page .ttl {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #282828;
  margin-bottom: 3rem;
}