html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 969px) {
  html {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "yugothic-light", Helvetica, Arial, "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  color: #222222;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

a,
button {
  text-decoration: none;
  color: #0066C5;
}
a:hover,
button:hover {
  opacity: 0.7;
  text-decoration: none;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  z-index: 9999;
}
@media screen and (max-width: 968px) {
  .header .container {
    padding: 0 1rem;
  }
}
.header .d__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 968px) {
  .header__login .navigation {
    display: none;
  }
}
.header__login .navigation__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.header__login .link__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
}
.header__login .account {
  margin-left: 3rem;
  position: relative;
}
@media screen and (max-width: 968px) {
  .header__login .account {
    margin-left: 0;
  }
}
.header__login .account__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 1.2;
  cursor: pointer;
}
.header__login .account__logout {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 1.5rem 2rem;
  color: #222222;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 0;
}
.header__login .account__drop {
  display: none;
}
.header__btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 0;
}
.header__btn .btn {
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .header__btn .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
.header__btn .btn-white {
  background-color: #ffffff;
  color: #717DA0;
  border: 1px solid #405080;
  margin-left: 1rem;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-white {
    margin-left: 0.5rem;
  }
}
.header__btn .btn-blue {
  background-color: #405080;
  color: #ffffff;
  border: none;
  margin-left: 1rem;
  border: 1px solid transparent;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-blue {
    margin-left: 0.5rem;
  }
}
.header__btn .btn-purple {
  background-color: #e4e7f0;
  border: 1px solid #e4e7f0;
  color: #405080;
}
@media screen and (max-width: 968px) {
  .header__btn .btn-purple {
    margin-left: 1rem;
  }
}
.header .icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25rem;
  color: #000;
  margin-right: 0.5rem;
}
.header .link__logo {
  display: inline-block;
}
.header .img__logo {
  display: flex;
  flex: 1;
  line-height: 0;
}
.header .img__logo .img {
  width: 9.8rem;
}

.footer {
  padding: 4rem 0 5rem;
  background-color: #F8F8F8;
}
@media screen and (max-width: 968px) {
  .footer {
    padding: 2.5rem 0 3rem;
  }
}
.footer__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 968px) {
  .footer__list-items {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
  }
}
.footer__list-items a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #808080;
}
@media screen and (max-width: 968px) {
  .footer__list-items a {
    padding: 0;
  }
}
.footer .footer__text {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #b2b2b2;
  text-align: center;
  margin-top: 1.5rem;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.px-2 {
  padding: 0 2rem;
}

.pt-5 {
  padding-top: 5rem;
}

.font-bold {
  font-weight: 700;
}

@font-face {
  font-family: "yugothic-medium";
  src: url("../font/yugothic-medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "yugothic-light";
  src: url("../font/Yu-Gothic-Light.ttf");
  font-weight: 400;
}
.thumb {
  line-height: 0;
}

.list__post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -1rem;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .list__post {
    margin-bottom: 0;
  }
}

.items-top {
  width: calc(20% - 1.6rem);
  margin: 0 0.8rem;
}
.items-top:hover {
  opacity: 0.75;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .items-top {
    width: calc(33.3333333333% - 2rem);
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-top {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.items-creator {
  width: calc(25% - 2rem);
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}
.items-creator:hover {
  opacity: 0.75;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .items-creator {
    width: calc(33.3333333333% - 2rem);
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-creator {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.items-cat {
  width: calc(25% - 2rem);
  margin: 0 1rem;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .items-cat {
    width: calc(33.3333333333% - 2rem);
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .items-cat {
    width: calc(50% - 2rem);
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

.modal__popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(178, 178, 178, 0.65);
  width: 100%;
  height: 100%;
  transition: ease-in-out 1s;
  z-index: 99999;
}

.form__modal {
  padding: 0 0 2rem 0;
}

.modal_close {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.modal__content {
  width: 42.8rem;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
  z-index: 999999;
  top: -100%;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  .modal__content {
    width: 35rem;
  }
}

.modal__infor {
  padding-top: 2.5rem;
}
.modal__infor .text__top {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #222222;
  font-weight: 700;
}
@media screen and (max-width: 968px) {
  .modal__infor .text__top {
    font-size: 1.25rem;
  }
}
.modal__infor .text__bot {
  text-align: center;
}
.modal__infor .text__bot a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #405080;
}
.modal__infor .text__bot a:hover {
  border-bottom: 1px solid #b2b2b2;
}
.modal__infor .btn__submit {
  padding: 1.5rem 0.5rem;
  background-color: rgb(178, 178, 178);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
}
.modal__infor input {
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  border-bottom: 1px solid #b2b2b2;
}

.block {
  display: block;
}

.show {
  top: 30rem;
  transition: ease-in-out 1s;
}
@media screen and (max-width: 968px) {
  .show {
    top: 15rem;
  }
}

.active_drop {
  display: block !important;
}

.h-pc {
  display: block;
}
@media screen and (min-width: 969px) {
  .h-pc {
    display: none;
  }
}

.h-sp {
  display: none;
}
@media screen and (min-width: 969px) {
  .h-sp {
    display: block;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.pagination {
  text-align: center;
}
.pagination .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .tab__pagination {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #405080;
}
.pagination .tab__pagination.arrow-prev {
  border: 1px solid #999999;
  background-color: rgba(153, 153, 153, 0.1);
}
.pagination .tab__pagination.arrow-prev .page__link {
  color: #999999;
}
.pagination .tab__pagination.arrow-next {
  border: 1px solid #999999;
  background-color: rgba(153, 153, 153, 0.1);
}
.pagination .tab__pagination.arrow-next .page__link {
  color: #999999;
}
.pagination .page__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.7rem;
  height: 4.7rem;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #405080;
}
.pagination .page__link.active {
  color: #ffffff;
  background-color: #405080;
}
@media screen and (max-width: 968px) {
  .pagination .page__link {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}
.pagination .css-vubbuv {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.6rem;
}

.page {
  position: relative;
}

.main {
  position: relative;
  z-index: 99;
  padding: 3.5rem 0;
}
@media screen and (min-width: 969px) {
  .main {
    padding: 5.5rem 0 3.5rem 0;
  }
}
.main .filter__category {
  margin-bottom: 6.5rem;
}
@media screen and (max-width: 968px) {
  .main .filter__category {
    margin-bottom: 3rem;
  }
}
.main .filter__category .form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  overflow: hidden;
}
@media screen and (max-width: 968px) {
  .main .filter__category .form {
    gap: 1.5rem;
  }
}
.main .filter__category .select {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 968px) {
  .main .filter__category .select {
    width: 100%;
    gap: 0.5rem;
  }
}
.main .filter__category .row-form .select-form {
  width: 26.4rem;
  height: 5rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  line-height: 1.7;
  font-family: "yugothic-medium";
  color: #707070;
  border: 1px solid #707070;
}
@media screen and (max-width: 968px) {
  .main .filter__category .row-form .select-form {
    max-width: 13.2rem;
    font-size: 1.4rem;
    padding: 0.4rem 1.75rem;
    height: unset;
  }
}
@media only screen and (min-width: 969px) and (max-width: 1056px) {
  .main .filter__category .row-form .select-form {
    max-width: 20.4rem;
  }
}
.main .filter__category .gr__btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  gap: 1.6rem;
}
@media screen and (max-width: 968px) {
  .main .filter__category .gr__btn {
    width: 100%;
  }
}
.main .filter__category .gr__btn .cpn__gr--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 11.4rem;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  line-height: 1.7;
  font-family: "yugothic-medium";
  padding: 1.2rem 1.5rem;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .main .filter__category .gr__btn .cpn__gr--btn {
    font-size: 1.4rem;
    padding: 0.4rem 1.75rem;
    height: unset;
  }
}
.main .filter__category .gr__btn--search {
  background-color: #101010;
}
.main .filter__category .gr__btn--reset {
  background-color: #717071;
}
.main .category .title {
  font-size: 3rem;
  font-family: "yugothic-light";
  font-weight: 400;
  color: #6F706F;
  margin-bottom: 3rem;
}
@media screen and (max-width: 968px) {
  .main .category .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.main .category .child-category {
  font-size: 2.4rem;
  line-height: 1.7083333333;
  font-family: "yugothic-medium";
  font-weight: 500;
  color: #6F706F;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .child-category {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}
.main .category .post {
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .post {
    margin-bottom: 2rem;
  }
}
.main .category .post .items-top {
  margin-bottom: 2rem;
}
.main .category .post .items-top .thumb {
  height: 32.3rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .main .category .post .items-top .thumb {
    height: 20rem;
  }
}
.main .category .post .items-top .thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.main .category .post .items-top .ttl-thumb {
  font-size: 3rem;
  line-height: 1.7;
  font-family: "yugothic-medium";
  color: #6F706F;
  text-align: center;
  margin-top: 1.7rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .items-top .ttl-thumb {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
}
.main .category .post .items-top .des-thumb {
  font-size: 1.6rem;
  line-height: 1.4210526316;
  font-family: "yugothic-medium";
  color: #6F706F;
  margin-top: 2rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .items-top .des-thumb {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
}
.main .category .post .ttl__img {
  font-size: 2rem;
  font-family: "yugothic-light";
  font-weight: 400;
  line-height: 1.2;
  color: #6F706F;
  text-align: center;
  margin-top: 1.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .ttl__img {
    font-size: 1.4rem;
    bottom: 2rem;
  }
}
.main .category .post .ttl__item {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 700;
  color: #6F706F;
  margin-top: 1.5rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .ttl__item {
    font-size: 1.5rem;
  }
}
.main .category .post .list__child-item a {
  display: inline-block;
  font-size: 1.5rem;
  color: #666666;
}
@media screen and (max-width: 968px) {
  .main .category .post .list__child-item a {
    font-size: 1.35rem;
  }
}
.main .category .post .btn__cat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main .category .post .cpn__btn--top {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.2;
  font-family: "yugothic-medium";
  padding: 1.3rem 1.5rem;
  background-color: #ffffff;
  color: #6F706F;
  border: 1px solid #707070;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 968px) {
  .main .category .post .cpn__btn--top {
    font-size: 1.2rem;
    padding: 0.55rem 0.65rem;
  }
}
.main .category .post .btn__readmore {
  max-width: 31rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .btn__readmore {
    max-width: 100%;
    width: 100%;
  }
}
.main .category .post .btn__search-category {
  max-width: 16.8rem;
}
@media screen and (max-width: 968px) {
  .main .category .post .btn__search-category {
    max-width: 100%;
    width: 100%;
  }
}

.page__archive .main {
  padding: 2rem 0;
}
@media screen and (min-width: 969px) {
  .page__archive .main {
    padding: 5.5rem 0 10rem;
  }
}

.archive__category .tab {
  margin: 2rem 0 1rem;
}
.archive__category .tab__category {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .archive__category .tab__category {
    margin: 0 -0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .tab__category .items {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .tab__category .items {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
}
.archive__category .tab__category .items a {
  display: inline-block;
  padding: 1rem 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #405080;
  background-color: #ffffff;
  border: 1px solid #405080;
  border-radius: 0.5rem;
}
.archive__category .tab__category .items a.active {
  color: #ffffff;
  background-color: #384670;
}
@media screen and (max-width: 968px) {
  .archive__category .tab__category .items a {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .tab__category .items a {
    width: 100%;
    margin-right: 0;
    padding: 0.5rem;
    text-align: center;
  }
}
.archive__category .list__post .items-top {
  width: calc(25% - 1rem);
  margin: 0 0.5rem 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .list__post .items-top {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .list__post .items-top {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
.archive__category .list__post .items-creator {
  width: calc(25% - 1rem);
  margin: 0 0.5rem 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 969px) {
  .archive__category .list__post .items-creator {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .archive__category .list__post .items-creator {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
.archive__category .thumb img {
  border-radius: 0.5rem;
}
.archive__category .text__des {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.page__form .main {
  padding: 5.5rem 0 7.5rem 0;
}
.page__form .title {
  text-align: center;
}
.page__form .form .container {
  max-width: 71.2rem;
}
.page__form .form .description {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: bold;
  color: #222222;
  text-align: center;
}
.page__form .form__input {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (max-width: 968px) {
  .page__form .form__input {
    gap: 2.5rem;
  }
}
.page__form .form .c-full {
  width: 100%;
}
.page__form .form .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.page__form .form .label {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #222222;
  font-weight: bold;
}
.page__form .form .requied {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #405080;
}
.page__form .form .input {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 1.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #CCCCCC;
}
.page__form .form .input:focus {
  background-color: #E8F0FE;
}
.page__form .form .input__checkbox {
  text-align: center;
}
.page__form .form .input.error {
  border: 1px solid #A70000;
}
.page__form .form .des__input {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #666666;
}
.page__form .form .input__number {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.page__form .form .form__checkbox {
  margin: 4rem 0;
}
.page__form .form .input__password {
  position: relative;
}
.page__form .form .input__password .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 1rem;
  right: 1rem;
  height: 4rem;
  cursor: pointer;
}
.page__form .form .input__password .icon-show,
.page__form .form .input__password .icon-hidden {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.4rem;
  height: 2.4rem;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.4rem;
  color: #B2B2B2;
}
.page__form .form .input__password .icon-show {
  display: none;
}
.page__form .form .btn {
  text-align: center;
}
.page__form .form .btn__submit {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #ffffff;
  background-color: #999999;
  padding: 1.25rem 2.8rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.page__form .form .cs-link {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #405080;
}
.page__form .form .error {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #A70000;
}

.form__expired {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__expired {
    background-color: transparent;
  }
}
.form__expired .content {
  width: 40rem;
  height: 54rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__expired .content {
    padding: 0 2rem;
  }
}
.form__expired .img-error {
  width: 8.8rem;
  margin-bottom: 2.4rem;
}
.form__expired .ttl {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 968px) {
  .form__expired .ttl {
    font-size: 2rem;
  }
}
.form__expired .desc {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .form__expired .desc {
    font-size: 1.2rem;
  }
}

.form__resetpass {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass {
    background-color: transparent;
  }
}
.form__resetpass .content {
  width: 40rem;
  height: 54rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass .content {
    height: 100vh;
    padding: 0 2rem;
  }
}
.form__resetpass .info {
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info {
    margin-bottom: 1rem;
  }
}
.form__resetpass .info .img {
  width: 16.2rem;
  margin: 0 auto;
}
.form__resetpass .info .ttl {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
  margin: 2.4rem 0 1.6rem;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info .ttl {
    font-size: 2rem;
  }
}
.form__resetpass .info .desc {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "yugothic-medium";
  color: #2d333a;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .form__resetpass .info .desc {
    font-size: 1.2rem;
  }
}
.form__resetpass .form {
  width: 100%;
}
.form__resetpass .form__reset .row-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  border: 1px solid #b2b2b2;
  height: 5.2rem;
  overflow: hidden;
}
@media screen and (max-width: 968px) {
  .form__resetpass .form__reset .row-form {
    height: unset;
  }
}
.form__resetpass .form__reset--input {
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  height: 100%;
}
@media screen and (max-width: 968px) {
  .form__resetpass .form__reset--input {
    font-size: 1.35rem;
  }
}
.form__resetpass .form__reset .btn__submit {
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  background-color: #0059d6;
  color: #ffffff;
  cursor: pointer;
}
.form__resetpass .form .icon {
  width: 3.6rem;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
}
.form__resetpass .form .icon:hover {
  background-color: #E5E5E5;
}
.form__resetpass .form .icon-hidden {
  display: none;
}