.page__deatail {
  .main {
    padding-top: 0;
    @include mq_min_969 {
     padding-bottom: 15rem;
    }
  }
  .infor__video {
    width: 100%;
    margin-bottom: 5rem;
    .row {
      width: 95rem;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;      
      gap: 8rem;
      @include mq_max_968 {
        width: 100%;
        gap: 4rem;
        justify-content: center;
      }
    }
    .l__video {
      width: 25rem;   
      line-height: 0;
      @include mq_max_968 {
        width: 30rem;      
        text-align: center;
      }
      video {
        width: 100%;
      }
    }
    .detail {
      flex: 1;
        .flex--text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;      
        @include mq_max_968 {
         font-size: 1.4rem;
         margin-bottom: 1.5rem;
        }
        @include mq_max_767 {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 0.5rem;
        }
      }
      .field {
        width: 19.5rem;
        @include mq_max_767 {
         width: 100%; 
        }
      }
      .content {
        flex: 1;
        @include mq_max_767 {
          width: 100%; 
        }
      }
      &--btn {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 3.5rem;
        @include mq_max_968 {
          width: 100%;
          gap: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .orthes__video {
    .title {
      font-size: 2.5rem;
      line-height: calc(40/25);      
      color: $black;
      margin-bottom: 4rem;
      @include mq_max_968 {
        margin-bottom: 2.5rem;
      } 
    }
    .video--list {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 8rem;
      @include mq_max_968 {
        margin-bottom: 3rem;
      } 
    }
    .video--items {
      width: calc(calc(100% /5 ) - 1.6rem);
      margin: 0 0.8rem;
      cursor: pointer;
      @include mq_max_968 {
        width: calc(calc(100% /3) - 1.6rem);        
      }
      @include mq_max_767 {
        width: calc(calc(100% /2 ) - 1.6rem);        
      } 
      .video {
        width: 100%;
      }
      video {
        width: 100%;
      }
    }
    .others--btn {
      text-align: center;
    }
  }
  .cpn__detail--text {
    font-size: 1.6rem;
    line-height: calc(30/16);
    padding: 1.5rem 0;
    color: $black;
    &:first-child {
      padding-top: 0;
    }
  }
  .cpn__detail--text + .cpn__detail--text {
    border-top: 1px dashed $gray_dark3;
  }
  .cpn__btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'notosansCJK-medium';
    line-height: calc(40/16); 
    letter-spacing: 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    @include mq_max_968 {
      font-size: 1.4rem;
    } 
  }
  .btn--favorites {    
    width: 21.8rem;
    color: $pink;    
    background-color: $white;
    border: 2px solid $pink;
    @include mq_max_968 {
      width: 100%;
    }     
  }
  .btn--procedure {
    width: 35rem;
    color: $white;
    background-color: $pink;
    border: 1px solid transparent;
    @include mq_max_968 {
      width: 100%;
    } 
  }
  .btn--readmore {
    width: 45rem;
    color: $white;
    background-color: $pink;
    border: 1px solid transparent;
  }
}
