.page__archive {
  .main {
    padding: 2rem 0;
    @include mq_min_969 {
      padding: 0rem 0 10rem;
    }
  }
}
.p__ichiran--cre {
  .ttl {
    margin-bottom: 5rem;
    @include mq_max_968 {     
      margin-bottom: 2rem;
    }
    .span-ttl {
      font-size: 3.5rem;  
      line-height: calc(40/35);
      letter-spacing: .5rem;
      font-family: 'folkPro';      
      background: -webkit-linear-gradient(left, #0069b5 30%, #d4338d 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mq_max_968 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
  .post {
    .thumb {
      height: 27rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .txt-cate , .age , .desc {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      font-size: 1.4rem;
      line-height: calc(40/16);
      font-weight: 500;
      color: $black;    
    }
    .txt-cate , .age {
      border-bottom: 1px dashed $gray_dark1 ;
    }
  }
}
.p__ichiran--ctg {
  .cate-items {   
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .list__post {
    margin-bottom: 2rem !important;
  }
  .link {
    display: inline-block;
    width: 100%;
  }
  .ttl {
    margin-bottom: 5rem;
    @include mq_max_968 {     
      margin-bottom: 2rem;
    }
    .span-ttl {
      font-size: 3.5rem;  
      line-height: calc(40/35);
      letter-spacing: .5rem;
      font-family: 'folkPro';      
      background: -webkit-linear-gradient(left, #0069b5 30%, #d4338d 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mq_max_968 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
  .title-cate {
    font-size: 1.6rem;
    line-height: calc(40/16);
    color: $black;
  }
  .archive__category {
    .tab {
    margin-bottom: 3rem;
    }   
    .list__post {
      .items-creator {
        @include mq_min_969 {
          width: calc(20% - 2rem);
          margin: 0 1rem;
        }
      }
    }  
  }
}

.p__archive-creater {
  .main {
    padding-top: 0;
    @include mq_min_969 {
     padding-bottom: 15rem;
    }
  }
  .ttl {
    font-size: 3.5rem;
    line-height:calc(40/35);
    font-weight: 400;
    color: $black;
    margin-bottom: 5rem;
    @include mq_max_968 {
      font-size: 2rem;   
      margin-bottom: 1.5rem;
     }
  }
  .archive__category {
    .tab {
      margin-bottom: 3rem;
    }
    .tab__content {
      margin-bottom: 5rem; 
      @include mq_max_968 {      
        margin-bottom: 2.5rem;
       }
    }
  }
  .items-creator {
    margin-bottom: 2rem !important;
    &:hover {
      opacity: 1;
    }
  }
  .thumb {
    margin-bottom: 0 !important;
  }
  .link-details {
     display: inline-block;
     line-height: 0;
  }
}
.p__archive--hashtag {
  .main {
    padding-top: 0;
    @include mq_min_969 {
     padding-bottom: 15rem;
    }
  }
  .ttl {
    font-size: 3.5rem;
    line-height:calc(40/35);
    font-weight: 400;
    color: $black;
    margin-bottom: 3.5rem;
    @include mq_max_968 {
     font-size: 2rem;   
     margin-bottom: 1.5rem;
    }
  }
  .link-details {
    display: inline-block;
    line-height: 0;
 }
}
.p__rireki-etsuran {
  .main {
    padding-top: 0;
    @include mq_min_969 {
     padding-bottom: 15rem;
    }
  }
 .ttl {
  font-size: 3.5rem;
  line-height:calc(40/35);
  font-weight: 400;
  color: $black;
  margin-bottom: 6.5rem;
  @include mq_max_968 {
    font-size: 2rem;   
    margin-bottom: 1.5rem;
   }
 }
 .link-details {
  display: inline-block;
  line-height: 0;
 }
}
.p__rireki-konyu {
  .main {
    padding-top: 0;
    @include mq_min_969 {
     padding-bottom: 15rem;
    }
  }
 .ttl {
  font-size: 3.5rem;
  line-height:calc(40/35);
  font-weight: 400;
  color: $black;
  margin-bottom: 3rem;
    @include mq_max_968 {
    font-size: 2rem;   
    margin-bottom: 1.5rem;
  }
 }
 .link-details {
  display: inline-block;
  line-height: 0;
 }
}
