.page__archive {
  .main {
    padding: 2rem 0;
    @include mq_min_969 {
      padding: 5.5rem 0 10rem;
    }
  }
}
.archive__category {
  .tab {
    margin: 2rem 0 1rem;
  }
  .tab__category {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;  
    @include mq_max_767 {     
      margin: 0 -0.5rem;
    }  
    .items {
      @include mq_table {
        width: auto;
      }
      @include mq_max_767 {
        width:  calc(calc(100%/3) - 1rem);
        margin: 0 0.5rem;
      }
     a {
      display: inline-block; 
      padding: 1rem 3rem;  
      margin-right: 1rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;    
      line-height: 1.2;
      color: #405080;
      background-color: #ffffff;
      border: 1px solid #405080;
      border-radius: 0.5rem;
      &.active {
        color: #ffffff;
        background-color: #384670;
      }
      @include mq_max_968 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
      }
      @include mq_max_767 {
        width: 100%;
        margin-right: 0;
        padding: 0.5rem;
        text-align: center;
      }
     }
    }
  }
  .list__post {
    .items-creator {
      width: calc(calc(100% /4 ) - 1rem);
      margin: 0 0.5rem 1rem;  
      @include mq_table {
        width: calc(calc(100% /3 ) - 1rem);
        margin: 0 0.5rem 1rem;  
      }
      @include mq_max_767 {
        width: calc(calc(100% /2 ) - 1rem);
        margin: 0 0.5rem 1rem;  
      }
    }
  }
  .thumb {
    img {
      border-radius: 0.5rem;
    }
  }
  .text__des {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}
