.footer {
  &__top {
    padding: 4rem 0 5rem;
    @include mq_max_968 {
      padding: 2rem 0;
    }
    background-color: $gray_light;
  }
  &__logo {
    width: 23rem;
    margin: 0 auto;
    margin-bottom: 4rem;    
    @include mq_max_968 {
     width: 15rem;   
     margin-bottom: 1.5rem;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;   
    flex-wrap: wrap;
    gap: 5rem;
    @include mq_max_968 {
      gap: 2rem;   
    }
    &-items {
      @include mq_max_968 {
        text-align: center;
        width: 100%;
        padding: 0.5rem;
      }
      a {
      display: inline-block;
      font-size: 1.6rem;
      padding: 1rem .5rem;
      color: $black;
      @include mq_max_968 {
        font-size: 1.4rem;
        padding: 0;
      }
      }
    }
  }
  .footer__bot {
    padding: 1.5rem 0;
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: 'shinGoPro';
    color: $gray_light;
    background-color: $black1;
    text-align: center;
    @include mq_max_968 {
      font-size: 1.2;
      padding: 1rem 0;
    }
  }
}
