.form__resetpass {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq_max_968 {
    background-color: transparent;
  }
  .content {
    width: 40rem;
    height: 54rem;
    padding: 4rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq_max_968 {        
      height: 100vh;
      padding: 0 2rem;
    }
  }  
  .info {
    margin-bottom: 1.2rem;
    @include mq_max_968 {
      margin-bottom: 1rem;
    }
    .img {
      width: 16.2rem;
      margin: 0 auto;      
    }
    .ttl {
      font-size: 2.4rem;
      line-height: 1.2;
      font-family: 'yugothic-medium';
      color: #2d333a;
      text-align: center;
      margin: 2.4rem 0 1.6rem ;
      @include mq_max_968 {
        font-size: 2rem;
      }
    }
    .desc {
      font-size: 1.5rem;    
      line-height: 1.5;
      font-family: 'yugothic-medium';
      color: #2d333a;
      text-align: center;
      @include mq_max_968 {
       font-size: 1.2rem;
      }
    }
  }
  .form {
    width: 100%;
    &__reset {
      .row-form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.5rem;
        border: 1px solid #b2b2b2;
        height: 5.2rem;
        overflow: hidden;
        @include mq_max_968 {
          height: unset;
        }
      }
      &--input {
        font-size: 1.6rem;
        padding: 1.6rem;
        border: none;
        border-radius: 0.5rem;
        height: 100%;
        @include mq_max_968 {
          font-size: 1.35rem;
        }
      }
      .btn__submit {
        font-size: 1.6rem;
        padding: 1.6rem;
        border: none;        
        background-color: #0059d6;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .icon {
      width: 3.6rem;
      height: 100%;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #E5E5E5;
      }
      &-hidden {
        display: none;
      }    
    }
  }
}