.page__form {
  .main {
    padding: 7.5rem 0 10.5rem 0;
    @include mq_max_968 {
      padding: 5.5rem 0 7.5rem 0;
    }
  }
  .form {
    .container {
      max-width: 71.2rem;
    }
    &-ttl {
      text-align: center;
      font-size: 3rem;
      line-height: calc(40/30);
      font-weight: bold;
      color: $black;
      margin-bottom: 3rem;
    }
    &-description {
      font-size: 1.6rem;
      line-height: 1.2;      
      color: $black;
      text-align: center;
    }
    &__input {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      @include mq_max_968 {
        gap: 2.5rem;
      }
    }
    .c-full {
      width: 100%;     
    }
    .row-txt {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      padding-bottom: 1rem;
    }
    .row-radio {      
      padding-left: 2rem;     

    }
    .gr-radio {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3rem;
    }
    .label {
      font-size: 1.8rem;
      line-height: 1.2;
      color: $black;
      font-weight: 500;
    }
    .requied {
      font-size: 1.2rem;
      line-height: 1.2;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: $white1;
      background-color: $pink;
    }
    .input {
      width: 100%;
      font-size: 1.8rem;
      line-height: 1.2;
      padding: 1.2rem 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      border: 1px solid #CCCCCC;
      &:focus {
        background-color: #E8F0FE;
      }
      &__checkbox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .label--checkbox {
          margin-left: 1rem;
          @include mq_max_968 {
            font-size: 1.2rem;
          }
        }
      }
      &.error {
        border:  1px solid $red;
      }
    }    
    .des__input {
      font-size: 1.2rem;
      line-height: 1.2;
      color: #666666;
    }
    .input-radio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      .type-radio {
        accent-color: #c72c86;
      }
    }
    .input__number {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.5rem;
    }
    .type-radio {
      width: 1.5rem;
      height: 1.5rem;
    }
    .form__checkbox {
      margin: 4rem 0;
      @include mq_max_968 {
        margin: 2rem 0;
      }
    }
    .input__password {
        position: relative;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 1rem;              
        right: 1rem;
        height: 4rem;
        cursor: pointer;
      }
      .icon-show , 
      .icon-hidden {
        user-select: none;
        width: 2.4rem;
        height: 2.4rem;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.4rem;
        color: #B2B2B2;
      }
      .icon-show {
        display: none;
      }
    }
    .btn {
      text-align: center;
      &__submit {
        max-width: 19rem;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #ffffff;
        background-color: #999999;
        padding: 2.5rem 2.8rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        @include mq_max_968 {
          max-width: 15rem;
          padding: 1.5rem 1rem;
        }
      }
    }
    .cs-link {
      font-size: 1.6rem;
      line-height: calc(40/16);
      color: #1076bd;
      @include mq_max_968 {
        font-size: 1.2rem;
        line-height: calc(30/12);
      }
    }
    .error {
      font-size: 1.2rem;
      line-height: 1.2;
      color: $red;  
    }
  }  
}
.p__register-confirm {
  .infor-confirm {
    margin-bottom: 6rem;
    @include mq_max_968 {
      margin-bottom: 3rem;
    }
    .container {
      max-width: 67rem;
    }
  }  
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  .field {
    width: 20.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc( 40/18);
    color: $black;
    @include mq_max_968 {
      width: 15rem;
    }
  }
  .content {
    flex: 1;
  }
  .input-txt {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.8rem;
    font-family: 'notosansCJK';
    font-weight: 500;
    line-height: calc( 40/18);
    color: $black;
    background-color: $white;
    text-align: left;
  }
  .group__btn {    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    .cpn__gr--btn{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 19rem;
      width: 100%;
      height: 7rem;
      font-size: 1.8rem;
      line-height: calc(40/18);
      font-weight: 500;
      padding: 1.2rem 1.5rem; 
      border-radius: 1rem;
      cursor: pointer;    
      @include mq_max_968 {
        font-size: 1.4rem;
        padding: 0.4rem 1.75rem; 
        height: unset;         
      }  

    }
    &--fix {
      color: $pink_light3;
      border: 2px solid $pink_light2;
      background-color: transparent;
    }
    &--send {
      color: $white;
      border: 2px solid transparent;
      background-color: $pink;
    }
  }
}
.p__register-confirmed {
  .infor-confirmed {
    .container {
      max-width: 67rem;
    }
  }
  .infor-txt {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(30/16);
    color: $black2;
    margin-bottom: 3.5rem;
  }
  .mail-confirmed {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(40/18);
    padding: 1.5rem 1rem;
    color: $black;
    margin-bottom: 3.5rem;
    text-align: center;
    background-color: $gray_light;
  }
  .link {
    color: $blue1;
  }
}
.p__register-login {
  .form-description {
    font-size: 1.6rem;
    line-height: calc(30/16);
  }
  .form-infor {
    .container {
      max-width: 55.5rem;
    }
    .row-form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 2rem;   
    }
    .input-login {
      max-width: 33rem;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2;
      color: $black;
      padding: 2.1rem 1.5rem;
      border-radius: 0.5rem;
      background-color: #e5f2fb;
      border: transparent;
      border-right: 1px solid $blue_light1;
      border-bottom: 1px solid $blue_light1;
    }
    .btn__submit-login {
      max-width: 33rem;      
      width: 100%;
      font-size: 1.8rem;
      line-height: calc(40/18);
      color: $white;
      background-color: $gray_dark1;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
    }
    .txt {
      font-size: 1.2rem;
      line-height: calc(40/12);
      color: $blue2;
    }
  }
}



.p-login {
  .form-infor {
    max-width: 74rem;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    .title {
      font-size: 1.6rem;
      line-height: calc(30/16);
      text-align: center;
      margin-bottom: 5.5rem;
    }
    .row-form {
      max-width: 38rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 2.5rem;   
    }
    .link {
      text-align: center;
    }
    .label {
      width: 100%;
      font-family: 'notosansCJK-medium';
      margin-bottom: 1.2rem;
    }
    .input-login {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2;
      color: $black;
      padding: 1.6rem 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid $gray_dark2;
    }
    .btn__submit-login {  
      width: 100%;
      font-size: 1.8rem;
      line-height: calc(40/18);
      color: $white;
      background-color: $gray_dark1;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
    }
    .txt {
      display: inline-block;
      text-align: center;
      font-size: 1.2rem;
      line-height: calc(35/12);
      color: $blue2;
      font-family: 'notosansCJK-medium';
    }
  }
}
