.p__reset--pass {
  .main {
    padding: 6.5rem 0 8.5rem;
  }
}
.form__resetpass {
  width: 100%;
  @include mq_max_968 {
    background-color: transparent;
  }
  .content {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;    
    padding: 6rem 2rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 0.3);
    @include mq_max_968 {        
      height: 100vh;
      padding: 0 2rem;
    }
  }  
  .info {
    margin-bottom: 1.2rem;
    @include mq_max_968 {
      margin-bottom: 1rem;
    }
    .ttl {
      font-size: 2.4rem;
      line-height: 1.2; 
      font-family: 'notosansCJK-medium';   
      color: $black;
      text-align: center;
      margin-bottom: 4rem;
      @include mq_max_968 {
        font-size: 2rem;
      }
    }
    .desc {
      font-size: 1.6rem;    
      line-height: calc(30/16);    
      color: $black;
      text-align: center;
      margin-bottom: 4.5rem;
      @include mq_max_968 {
       font-size: 1.2rem;
      }
    }
  }
  .form {
    width: 100%;
    &__reset {
      .row-form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        max-width: 39.2rem;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &--input {
        font-size: 1.4rem;
        padding: 1.6rem 3.5rem 1.6rem 1.2rem;
        border: 1px solid $gray_dark2;
        border-radius: 0.6rem;
        width: 100%;
        @include mq_max_968 {
          font-size: 1.35rem;
        }
      }
      .btn__submit {
        display: inline-block;
        width: 100%;
        font-size: 1.8rem;
        line-height: 2.2222222222;
        letter-spacing: 0.2rem;
        color: $white;
        background-color: $gray_dark1;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
      }
    }
    .icon {      
      padding: 1rem;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      &-hidden {
        display: none;
      }    
    }
  }
}