.header {
  position: relative;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  z-index: 9999;
  @include mq_max_968 {
    height: unset;
    padding: 1.5rem 0;

  }
  .container {
    max-width: 144rem;
    @include mq_max_968 {
      padding: 0 1rem;
    }
  }
  .d__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  &__logo {
    display: flex;
    line-height: 0;
    .img {
      width: 23rem;
      @include mq_max_968 {
        width: 15rem;
      }      
    }
  }
  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    @include mq_max_968 {      
      display: none;
    }
    &__bar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5rem;
    }
  }

  .link__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $black;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .icon {
    user-select: none;
    width: 2.1rem;
    height: 1.7rem;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
    color: #000;
    margin-right: 0.5rem;    
  }
  .link__logo {
    display: inline-block;
  }

  &__logout {
    .header__navigation {
      @include mq_max_968 {
        display: block;      
      }
    }
    .header__navigation__bar {
      @include mq_max_968 {
        justify-content: flex-end;
        gap: 1.5rem;
      }
      .link__nav {
        @include mq_max_968 {
          font-size: 1.4rem;
        }
        .icon {
          @include mq_max_968 { 
            width: 1.6rem;
            height: 1.2rem;
          }
        }
      }
    }

  }
  &__login {
    .header__navigation {
      @include mq_max_968 {
        display: none;      
        // display: block;      
      }
    }
    .header__navigation__bar {
      @include mq_max_968 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        top: 6.2rem;
        left: 0;
        z-index: 9999;
        overflow: auto;
        background-color: #fff;
        padding: 0;
        // transform: translateX(100%);
        // transform: translateY(0);
        transition: .3s ease-in-out;
        padding: 0 2rem;
      }
      .list-item-menu {
        @include mq_max_968 {
          width: 100%;
          padding: 1rem 0;
        }
      }
      .link__nav {
        @include mq_max_968 {
         
        }
      }
    }
    //custom menu sp
    .header-nav_toggle {
      width: 2.4rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      border: 0;
      background-color: transparent;
      padding: 1.8rem 0 0;
      font-size: .6rem;
      text-align: center;
      outline: none !important;
      z-index: 9999;
      transition: .3s ease-in-out;
      @include mq_min_969 {
        display: none;
      }
      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: .15rem;
        background-color:#333333;
        transition: .3s ease-in-out;
        &:nth-child(1) {
          top: -0.1rem;
        }
        &:nth-child(2) {
          top: .8rem;
        }
        &:nth-child(3) {
          top: 1.8rem;
        }
      }
    }
  }  
  &.on_nav {
    .header__navigation {
      @include mq_max_968 {
        display: block;
      }
    }
    .header-nav_toggle {
      font-size: 0;
      span {
        background-color: #333333;
        &:nth-child(1) {
          top: .5rem;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: .5rem;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

