.p__plan {
  .main {
    padding: 10rem  0 15rem;
    @include mq_max_968 {     
      padding: 2.5rem 0 6rem;
     }
    .container {
      max-width: 79rem;
    }
  }
  .ttl {
    font-size: 3rem;
    font-family: 'notosansCJK-bold';
    line-height: calc(40/30);
    text-align: center;
    color: $black;  
    @include mq_max_968 {     
      font-size: 2.4rem;
      line-height: 1.2;
     }
  }
}
.p__plan1 {
  .information {
    margin-bottom: 8.5rem;
    @include mq_max_968 {     
      margin-bottom: 4rem;
     }
  }
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12rem;
    @include mq_max_968 {     
     gap: 1.5rem;
    }
  }
  .c-left {
    width: 20rem;
    @include mq_max_968 {     
     width: 100%;
    }
    .option-purchase {
      font-size: 2.5rem;
      font-family: 'notosansCJK-medium';
      line-height: calc(40/25);
      color: $pink;
      margin-bottom: 2.5rem;
      @include mq_max_968 {     
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
       }
    }
    .price {
      font-family: 'notosansCJK-bold';
      color: $pink;
    }
    .desc-price {
      font-size: 1.6rem;
      line-height: calc(40/16);
      text-align: left;
      text-indent: -1rem;
      color: $black;
    }
    .txt-big {
      font-size: 4rem;      
      line-height: 1.2;
      @include mq_max_968 {     
        font-size: 2.8rem;      
       }
    }
    .txt-small {
      font-size: 2.3rem;
      line-height: calc(40/23);
      @include mq_max_968 {     
        font-size: 1.6rem;     
        line-height: 1.2; 
       }
    }
  }
  .c-right {
    flex: 1;
    @include mq_max_968 {     
      width: 100%;
     }
    .list-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0.5rem 2rem 1.5rem;
      border-bottom: 1px dashed $gray_dark3;
      @include mq_max_968 {     
        padding: 1rem 0.5rem 1rem;
       }
      &:first-child {
        padding-top: 0;
      }
    }
    .field {
      display: inline-block;
      max-width: 15rem;
      width: 100%;
      font-size: 1.6rem;
      line-height: 1.2;
      color: $black;
    }
    .content {
      display: inline-block;
      max-width: 12rem;
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.2;
      color: $black;
      @include mq_max_968 {     
        font-size: 1.4rem;      
       }
    }
    .minimum {
      display: flex;
      justify-content: flex-end;
      font-size: 1.2rem;
      line-height: 1.2;
      color: $black;
      padding-top: 1rem;
    }
    .icon-checked {
      width: 2.4rem;
    }
  }
  .btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &__app--procedure {
      display: inline-block;
      max-width: 26rem;
      width: 100%;
      font-size: 1.6rem;
      font-family: 'notosansCJK-medium';
      padding: 1rem 0.5rem;
      letter-spacing: 0.15rem;
      line-height: calc(40/16);
      text-align: center;
      color: $white;
      cursor: pointer;
      background-color: $pink;
      border: none;
      border-radius: 1rem;
      @include mq_max_968 {     
        max-width: 100%;
        font-size: 1.4rem;
        line-height: 1.2;
        padding: 1.5rem 1rem;
       }
    }
  }
}
.p__plan2 {  
  .pick__option {
    margin-bottom: 10rem;
    @include mq_max_968 {
      margin-bottom: 4.5rem;
    } 
    .txt-pick {
      width: 100%;
      padding: 2rem 2rem 2rem 2.5rem;
      margin-bottom: 3rem;
      background-color: $gray_light;
      color: $black;
      font-family: 'notosansCJK-medium';
      .txt-big {
        font-size: 1.8rem;
        line-height: 1.2;
        @include mq_max_968 {
          display: inline-block;
          width: 100%;
          font-size: 1.6rem;
        }
      }
      .txt-small {
        font-size: 1.2rem;
        line-height: 1.2;
        padding-left: 1rem;
        @include mq_max_968 {
          display: inline-block;
          width: 100%;
          font-size: 1.2rem;
          padding-left: 0;
        }
      }
    }
    .wrap-option {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0 2.5rem;
      margin-bottom: 10rem;
      @include mq_max_968 {
        margin-bottom: 3.5rem;
      }
      .label {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-family: 'notosansCJK-medium';
        line-height: 1.2;
        color: $black;       
        margin-right: 4rem;
        @include mq_max_968 {
          font-size: 1.4rem;
          margin-right: 2rem;
        }
      }
      .input-checkbox {
        display: flex;
        align-items: center;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: .5rem;
        accent-color: $pink;
        @include mq_max_968 {
         width: 1.4rem;
         height: 1.4rem;
        }
      }      
    }
    .content-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 2.5rem 1.5rem 2.5rem;
      border-bottom: 1px dashed $gray_dark2;
      .left {
        font-size: 2rem;
        font-family: 'notosansCJK-medium';
        line-height: 1.2;
        color: $black;      
        @include mq_max_968 {
         width: 100%;
         margin-bottom: 1rem;
         font-size: 1.6rem;
        } 
      }
      .right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.5rem;
        @include mq_max_968 {
          width: 100%;
        } 
      }
      .total {
        font-size: 2rem;
        font-family: 'notosansCJK-medium';
        line-height: 1.2;
        color: $black;  
        @include mq_max_968 {
          font-size: 1.6rem;
        } 
      }
      .price {
        margin-top: -1rem;
        .txt {
          font-size: 3rem;
          font-family: 'notosansCJK-medium';
          line-height: 1.2;
          color: $black;  
          @include mq_max_968 {
            font-size: 2.4rem;
          } 
        }
        .unit {
          font-size: 2rem;
          font-family: 'notosansCJK-medium';
          line-height: 1.2;
          color: $black; 
          @include mq_max_968 {
            font-size: 1.8rem;
          }  
        }
        .desc {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1.2;
          color: $black;  
          text-indent: -0.25rem;
        }
      }
    }
    .content-bot {
      font-size: 1.2rem;
      line-height: calc(20/12);
      color: $black;  
      padding: 1.5rem 1.5rem 0;
    }
  }
  .informartion__card {
    &--ttl {
      font-size: 2rem;
      font-family: 'notosansCJK-medium';
      line-height: calc(40/20);
      text-align: center;
      color: $black;
      margin-bottom: 6rem;
      @include mq_max_968 {
        margin-bottom: 3.5rem;
      }
    }
    &--form {
      padding: 0 7.5rem;
      @include mq_max_968 {
        padding: 0;
      }
    }
    .row-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 3rem;
    }
    .input-gr-text {
      display: flex;
      align-items: center;
      max-width: 24.5rem;
      width: 100%;
      @include mq_max_968 {
        margin-bottom: 1rem;
      }
      .requied {
        font-size: 1.2rem;
        line-height: 1.2;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: $white1;
        background-color: $pink;
      }
      .field {
        font-size: 1.6rem;
        font-family: 'notosansCJK-medium';
        line-height: 1.2;
        color: $black;
        margin-left: 1rem;
        @include mq_max_968 {     
          font-size: 1.4rem;      
         }
      }
    }
    .input-gr-content {
      flex: 1;
      @include mq_max_968 {
        width: 100%;
        flex: none;
      }
      .input-txt {
        width: 100%;
        font-family: 'notosansCJK';
        font-size: 1.8rem;
        line-height: calc(30/18);
        padding: 0.8rem 1.2rem;
        border-radius: 0.5rem;
        color: $black;
        border: 1px solid $gray_dark2;
      }
    }
    .gr__btn {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 7rem;
      @include mq_max_968 {
        margin-top: 3.5rem;
      }
      .btn_submit {
        display: inline-block;
        max-width: 21rem;
        width: 100%;
        font-size: 1.8rem;
        font-family: 'notosansCJK';
        padding: 0.8rem 0.5rem;
        letter-spacing: 0.2rem;
        line-height: calc(40/18);
        color: $white;
        cursor: pointer;
        background-color: $gray_dark1;
        border: none;
        border-radius: 1rem;
        @include mq_max_968 {
          font-size: 1.6rem;
        } 
      }
    }
  }
}