.page {
  position: relative;
}
.main {
  padding: 3.5rem 0 ;
  @include mq_min_969 {
    padding: 5.5rem 0 3.5rem 0;
  } 
  .form__search {
    margin-bottom: 3.5rem;
    @include  mq_max_968 {
      margin-bottom: 2rem ;
    }
    .d__flex {
      display: flex;
    }
  }
  .input__search {
    max-width: 94.5rem;
    width: 100%;
    padding: 1.8rem 1.5rem;    
    border: 1px solid #cccccc;
    font-size: 1.6rem;
    @include mq_max_968 {
      font-size: 1.4rem;
      padding: 1rem 0.5rem;
    }
  }
  .btn__search {
    max-width: 5.5rem;
    width: 100%;
    background-color: #405080;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    @include mq_max_968 {
      max-width: 3.5rem
    }
    svg {
      user-select: none;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
      @include mq_max_968 {
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
      }
    }
  }
  .category {
    .title {
      font-size: 2.4rem;  
      font-weight: 700;
      color: #222222;
      margin-bottom: 1.5rem;
      @include mq_max_968 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
    .post {   
      margin-bottom: 5rem;  
      @include mq_max_968 {
        margin-bottom: 2rem;
      }
      .items-creator {  
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.3) 51.56%, rgba(34, 34, 34, 0.8) 100%);
          z-index: 1;
        }     
      }
      .items-cat {
        width: calc(calc(100% /3) - 2rem);
        margin: 0 1rem; 
        margin-bottom: 4.5rem;
        @include mq_max_968 {
          width: calc(calc(100% /2) - 2rem);
          margin-bottom: 2rem;
        }
      }
      .thumb {
        img {
          border-radius: 0.5rem;          
        }
      }
      .ttl__img {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        color: #ffffff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.5rem;
        z-index: 2;
        @include mq_max_968 {
          font-size: 1.4rem;
          bottom: 2rem;
        }
      }
      .ttl__item {
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #222;
        margin-top: 1.5rem;
        @include mq_max_968 {
          font-size: 1.5rem;
        }
      }
      .list__child-item {
       a {        
        display: inline-block;
        font-size: 1.5rem;
        color: #666666;
        @include mq_max_968 { 
          font-size: 1.35rem;
        }
       }

      }
      .btn__cat {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      .btn__readmore {
        max-width: 23.8rem;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1;
        padding: 1.1rem 1.5rem;
        background-color: #ffffff;
        color: #667399;
        border: 1px solid #405080;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
