.p_top {
  .main {
    padding: 0 0 3.5rem;
    @include mq_min_969 {
      padding: 0 0 5.5rem;
    } 
  }
  .title { 
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    gap: 1.5rem;       
    margin-bottom: 8.5rem;
    padding: 3rem 0;
    position: relative;  
    @include mq_max_968 {
      align-items: center;
      padding: 1.5rem 0;
      margin-bottom: 6rem;
    }
    &::before,   
    &::after {
      content: "";
      width: 58%;
      height: 1px;
      background-image: url(../images/line.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
    }
    &::before {  
      top: 0;
      left: 0;
    }
    &::after {       
      bottom: 0;
      right: 0;
    }
    .icon__title {
      position: relative;
      display: inline-block;        
      line-height: 0;
    }
    .span__title {
      font-size: 3.5rem;  
      line-height: calc(40/35);
      letter-spacing: .5rem;
      font-family: 'folkPro';      
      background: -webkit-linear-gradient(left, #0069b5 30%, #d4338d 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mq_max_968 {
        font-size: 2rem;
        line-height: 1.2;        
      }
    }      
  }
  .list__model { 
    .thumb {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .items-top {  
    margin-bottom: 2rem;
    .link-details {
      display: inline-block;
      width: 100%;
      height: 40rem;
      overflow: hidden;
      line-height: 0;
      img {
        height: 100%;
        object-fit: cover;
       }
    }
    .thumb {
      height: 27.5rem;
      cursor: pointer;
      @include mq_max_968 {
       height: 20rem;
      }
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    .ttl-thumb {
      font-size: 3rem;
      line-height: 1.2;
      font-family: 'notosansCJK';
      font-weight: 500;
      color: $pink;
      text-align: center;
      margin-top: 1.7rem;
      @include mq_max_968 {
        font-size: 1.6rem;
        margin-top: 0.5rem;
      }
    }
    .des-thumb {
      font-size: 1.6rem; 
      line-height: calc(40/16);
      font-family: 'notosansCJK';
      color: $black;
      margin-top: 2rem;
      @include mq_max_968 {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 0.5rem;
      }
    }    
  }
  .items-cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 10.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 0.2);
    @include mq_max_968 {
      align-items: normal;
      height: unset;
    }
    .thumb {
      width: 40%;
      height: 100%;
      @include mq_max_968 {
       width: 100%; 
       height: unset;
      }
      .img {
        border-radius: 0.5rem;
        height: 100%;
        object-fit: cover;
      }
    }    
    .ttl__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 1.8rem;     
      line-height: calc(43/18);
      color: $black;      
      @include mq_max_968 {
        font-size: 1.5rem;
        line-height: 1.2;
        padding: 1rem 0.5rem 1rem 1rem;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
  .model__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .post {
      width: calc(50% - 4rem);
      @include mq_max_968 {
        width: calc(50% - 1rem); 
      }
    }
    .list__model {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 0 6.5rem 0;
      @include mq_max_968 {
       margin: 0 0 2.5rem 0; 
      }
      .items-model {
        width: 50%;
        height: 27.5rem;
        margin: 0;
        @include mq_max_968 {
          width: 100%;
          height: 20rem;
        }
      }
    }
  }
}
.main {
  position: relative;
  z-index: 99;  
  .category {
    .ttl__child--cate {
      position: relative;
    }
    .model {
      font-size: 7rem;
      line-height: 1;
      font-family: 'antro-ectra-bolder';
      position: absolute;
      top: -6rem;
      left: -6rem;
      z-index: -1;
      transform: rotate(-10deg);
      @include mq_max_968 {
       font-size: 2.5rem; 
       top: -2rem;
       left: 0;
      }
    }
    .child-category {
      font-size: 2.8rem;
      line-height: calc(41/24);
      font-family: 'marupro-regular';
      margin-bottom: 1.5rem;
      @include mq_max_968 {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: 0.5rem;
      }
     }
    .post {    
      margin-bottom: 4.5rem;  
      @include mq_max_968 {
        margin-bottom: 2rem;
      }
      .ttl__img {
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 1.2;
        color: white;
        text-align: center;
        @include mq_max_968 {
          font-size: 2rem;
        }
      }
      .list__child-item {
       a {        
        display: inline-block;
        font-size: 1.5rem;
        color: #666666;
        @include mq_max_968 { 
          font-size: 1.35rem;
        }
       }
      }
    } 
    .txt-thumb {
      text-align: center;
      z-index: 2;
    }
    .txt-english {
      font-size: 2.5rem;
      line-height: calc(40/25);
      font-family: 'mmascript';
      color: $pink;
    }   
    .txt-jp {
      font-size: 2.8rem;
      line-height: calc(40/28);
      color: $white;
      font-weight: bold;
    }
    .cpn__btn--top {
      display: inline-block;
      width: 100%;
      font-size: 1.8rem;
      font-family: 'notosansCJK';
      line-height: 1.2;
      text-align: center;
      padding: 2.3rem 1rem;
      color: $white;
      border: 1px solid transparent;
      border-radius: 1rem;
      cursor: pointer;
      @include mq_max_968 {
        font-size: 1.2rem;  
        padding: 0.55rem 0.65rem;       
      }
    }
    .group__btn {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 15rem;
      @include mq_max_968 {
        margin-bottom: 4rem;
      }
    }
    .btn__bg--pink {
      max-width: 32rem;
      background-color: $pink;
      box-shadow: 0.5rem 1rem 0.5rem -0.5rem $pink_dark;            
    }
    .btn__bg--blue {
      max-width: 32rem;
      background-color: $blue;
      box-shadow: 0.5rem 1rem 0.5rem -0.5rem $blue;            
    }
  }
}
