.main {
  position: relative;
  z-index: 99;
  padding: 0 0 3.5rem;
  @include mq_min_969 {
    padding: 0 0 5.5rem;
  }   
  .usage {
    .row {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 3rem;
    }
    .cpn__text {
      font-size: 1.4rem;
      line-height: calc(40/14);
      color: $white;
    }
  }
  .category {
    .ttl__child--cate {
      position: relative;
    }
    .model {
      font-size: 7rem;
      font-family: 'antro-ectra-bolder';
      position: absolute;
      top: -6rem;
      left: -7rem;
      z-index: -1;
      transform: rotate(-10deg);
    }
    .child-category {
      font-size: 2.8rem;
      line-height: calc(41/24);
      font-family: 'marupro-regular';
      margin-bottom: 1.5rem;
      @include mq_max_968 {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: 0.5rem;
      }
     }
    .post {    
      margin-bottom: 4.5rem;  
      @include mq_max_968 {
        margin-bottom: 2rem;
      }
      .items-top {  
        margin-bottom: 2rem;
        .thumb {
          height: 27.5rem;
          cursor: pointer;
          @include mq_max_968 {
           height: 20rem;
          }
          img {
            object-fit: cover;
            height: 100%;
          }
        }
        .ttl-thumb {
          font-size: 3rem;
          line-height: calc(51/30);
          font-family: 'notosansCJK';
          font-weight: 500;
          color: $pink;
          text-align: center;
          margin-top: 1.7rem;
          @include mq_max_968 {
            font-size: 1.6rem;
            margin-top: 0.5rem;
          }
        }
        .des-thumb {
          font-size: 1.6rem; 
          line-height: calc(40/16);
          font-family: 'notosansCJK';
          color: $black;
          margin-top: 2rem;
          @include mq_max_968 {
            font-size: 1.2rem;
            line-height: 1.2;
            margin-top: 0.5rem;
          }
        }
        // &::after {
        //   content: "";
        //   width: 100%;
        //   height: 100%;
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.3) 51.56%, rgba(34, 34, 34, 0.8) 100%);
        //   z-index: 1;
        // }     
      }
      .ttl__img {
        font-size: 2rem;
        font-family: 'yugothic-light';
        font-weight: 400;
        line-height: 1.2;
        color: #6F706F;
        text-align: center;
        margin-top: 1.5rem;
        @include mq_max_968 {
          font-size: 1.4rem;
          bottom: 2rem;
        }
      }
      .ttl__item {
        font-size: 1.8rem;
        font-family: 'yugothic-light';
        font-weight: 400;
        line-height: 1.2;
        color: #6F706F;
        margin-top: 1.5rem;
        @include mq_max_968 {
          font-size: 1.5rem;
        }
      }
      .list__child-item {
       a {        
        display: inline-block;
        font-size: 1.5rem;
        color: #666666;
        @include mq_max_968 { 
          font-size: 1.35rem;
        }
       }
      }
    }    
    .cpn__btn--top {
      width: 100%;
      font-size: 1.8rem;
      line-height: 1.2;
      font-family: 'notosansCJK';
      padding: 2.3rem 1rem;
      color: $white;
      border: 1px solid transparent;
      border-radius: 1rem;
      cursor: pointer;
      @include mq_max_968 {
        font-size: 1.2rem;  
        padding: 0.55rem 0.65rem;       
      }
    }
    .group__btn {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 15rem;
      @include mq_max_968 {
        margin-bottom: 5rem;
      }
    }
    .btn__bg--pink {
      max-width: 32rem;
      background-color: $pink;
      box-shadow: 0.5rem 1rem 0.5rem -0.5rem $pink_dark;            
    }
    .btn__bg--blue {
      max-width: 32rem;
      background-color: $blue;
      box-shadow: 0.5rem 1rem 0.5rem -0.5rem $blue;            
    }
  }
}
