//color
$black: #282828;
$black1: #393838;
$pink: #d02e8c;
$blue: #0054a7;
$blue_light: #ccdded;
$pink_light: #ffecf7;
$pink_light1: #f6d5e8;
$pink_dark: #7f1c56;
$white: #ffffff;
$gray_light:#f3f3f3;
$gray_light1:#d2d2d2;
$gray_dark: #606060;