//color
$black: #282828;
$black1: #393838;
$black2: #070002;
$white: #ffffff;
$white1: #fefefe;
$blue: #0054a7;
$blue1: #1076bd;
$blue2: #4b98cd;
$blue3: #0f67ab;
$blue_light: #ccdded;
$blue_light1: #b0bac1;
$pink: #d02e8c;
$pink_light: #ffecf7;
$pink_light1: #f6d5e8;
$pink_light2: #e690c2;
$pink_light3: #d6479a;
$pink_light4: #dd66ab;
$pink_dark: #7f1c56;
$red: #A70000;
$gray_light:#f3f3f3;
$gray_light1:#d2d2d2;
$gray_dark: #606060;
$gray_dark1: #a8a8a8;
$gray_dark2: #8a8a8a;
$gray_dark3: #c9c9c9;